CONFIG = {
    :target_process => {
        :uname => '',
        :pwd => '',
        :url => '',
        :project_id => ''
    },
    :pivotal_tracker => {
        :api_token => '',
        :project_id => ''
    },
    :mappings => { #hash of data mappings
        
    },
}